
.cardstyle{
    height: auto;
    margin: 20px;
    border-color: black;
    
}

.card-imagestyle{
    height:150px;
    padding:10px;
}
.form_field{
    margin: 10px;
}
.productlist{
    padding:20px;
    padding-right: 20px;
    background-color: #292b40;
    justify-content: space-between;
}
.search-fields,.cartsection{
    border-color: black;
    background-color: bisque; 
    padding:20px;
}
.search-fields{
    margin-top: 20px;
    margin-bottom: 10px;
}
.cartsection{
    max-height:700px;
    overflow: auto;
}
.pb_2{
padding-bottom: 2px;
}
.ml_10{
    margin-left: 10px;
}

